<table id="table_id" class="display">
    <thead>
        <tr>
            <th>Investor</th>
            <th>Investment</th>
            <th>Fees Amount</th>
            <th>Date Added</th>
            <th>Fees Type</th>
            <th>Validate</th>
        </tr>
    </thead>
    <tbody>
        {% for bill in bills %}
        <tr>
            <td>{{bill.investor_id.name}}</td>
            <td>{{bill.investment_id.startup_name}}</td>
            <td>{{bill.fees_amount}}</td>
            <td>{{bill.date_added}}</td>
            <td>{{bill.fees_type}}</td>
            <td>
            {% if bill.status == "created" %}
            <button class="btn btn-sm btn-info" id="{{bill.pk}}" onclick="getModal(this.id)"> Validate </button>
            {% elif bill.status == "validated" %}
            validated
            {% endif %}

            </td>
            
        </tr>
        {% endfor %}
    </tbody>
</table>

<script>
    function getModal(bill_id){
        let url = "{% url 'bills:bill' '0000' %}".replace("0000", bill_id)
        $.ajax({
            url: url,
            type: "GET",
            processData: false,
            contentType: false,
            success: function (data) {
               $("#modals").html(data.bill);
               $("#modals").modal("show");
               
            },

        });
    }
</script>