{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Filter Bills{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col">
            <div id="loading" class="lds-dual-ring"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            <h1>Filter Bills</h1>
        </div>
    </div>
    <hr>
    <form>
        {{form|crispy}}
    </form>
    <hr>
    <div id="results"></div>

</div>
{% endblock content %}



{% block inline_javascript %}
{{ block.super }}
<script defer src="{% static 'js/datatables/jquery.dataTables.min.js' %}"></script>
<script>
    function refresh() {
        const formData = new FormData(document.querySelector('form'))
        const url = "{% url 'bills:filter_by_investor' %}"
        $.ajax({
            url: url,
            data: formData,
            headers: { 'X-CSRFToken': '{{ csrf_token }}' },
            type: "POST",
            processData: false,
            contentType: false,
            success:function(data) {
                $("#results").html(data.bills_html);
                $("#table_id").DataTable();
            },

        });
    }
</script>
{% endblock inline_javascript %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.css">
<link href="{% static 'css/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
{% endblock %}
