{% extends "base.html" %}
{% load static %}

{% block title %}List Bills{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col">
            <div id="loading" class="lds-dual-ring"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-10"><h1>List Bills</h1></div>
        <div class="col-2">
            <button id="generate-bills" class="btn btn-sm btn-success"> Generate bills</button>
        </div>
    </div>
    <hr>

    {% include "bills/datatable.html"%}

</div>
{% endblock content %}


{% block css %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.css">
<link href="{% static 'css/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
{% endblock %}

{% block inline_javascript %}
{{ block.super }}
<script defer src="{% static 'js/datatables/jquery.dataTables.min.js' %}"></script>
<script>
    const generateUrl = "{% url 'bills:generate' %}"
</script>
<script defer src="{% static 'js/bills/bills.js' %}"></script>

{% endblock inline_javascript %}