<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Bill</h5>
        </div>
        <div class="modal-body">
            <p><b>Investor:</b>  {{bill.investor_id.name}} </p>
            <p><b>Startup Name: </b>{{bill.investment_id.startup_name}}</p>
            <p><b>Fees: </b>{{bill.fees_amount}}</p>
            <p><b>Date: </b>{{bill.date_added}}</p>
            <p><b>Fees type: </b>{{bill.fees_type}}</p>
                
                
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="{{bill.pk}}" onclick="validateBill(this.id)">Validate</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>

<script>
    function validateBill(bill_id) {
        let url= "{% url 'bills:validate' '0000' %}".replace("0000", bill_id)
        $.ajax({
            url: url,
            type: "GET",
            processData: false,
            contentType: false,
            success: function (data) {
                $("#modals").modal("hide");
                $("#results").html(data.bills_html);
                $("#table_id").DataTable();
            },

        });
        }
</script>