{% extends "base.html" %}

{% block content%}
<div class="row">
    <div class="col-12 mt-3 mb-3">
        <h3>Views</h3>
    </div>
    <div class="col-4">
        <a class="btn btn-info" href="{% url 'bills:list' %}"> List bills</a>
    </div>
    <div class="col-4">
        <a class="btn btn-info" href="{% url 'bills:filtered' %}"> Filtered bills</a>
    </div>
    <div class="col-4">
        <a class="btn btn-info" href="{% url 'cashcalls:list' %}">Cash Calls</a>
    </div>

</div>
<hr>
<div class="row">
    <div class="col-12 mt-3 mb-3">
        <h3>Actions</h3>
    </div>
    <div class="row justify-content-center">
        <div class="col">
            <div id="loading" class="lds-dual-ring"></div>
        </div>
    </div>
    <div class="col-4">
        <a class="btn btn-danger" onclick="confirmDelete()"> Delete DB</a>
    </div>
    <div class="col-4">
        <a class="btn btn-success" onclick="loadData()" > Load Initial Data</a>
    </div>


</div>

<script>
    function confirmDelete() {
        const url = "{% url 'core:confirm_delete' %}"
        $.ajax({
            url: url,
            type: "GET",
            processData: false,
            contentType: false,
            success: function (data) {
                $("#modals").html(data.modal);
                $("#modals").modal("show");
            },

        });
    }
    function loadData() {
            $("#loading").css("display", "block");
            const url = "{% url 'core:load_initial' %}"
            $.ajax({
                url: url,
                type: "GET",
                processData: false,
                contentType: false,
                success: function (data) {
                    alert("Initial Data has been loaded")
                    $("#loading").css("display", "none");
                },

            });
        }
</script>
{% endblock content%}