<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">DELETE DB</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p>Are you sure you want to delete the db?</p>
            <ul>
                <li>{{bills}} Bills will be deleted</li>
                <li>{{cashcalls}} cashcalls will be deleted</li>
                <li>{{invesments}} Investments will be deleted</li>
                <li>{{investors}} investors will be deleted</li>
            </ul>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" onclick="confirmDelete()">DELETE DB</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>

<script>
    function confirmDelete() {
        let url = "{% url 'core:delete_db' %}"
        $("#modals").modal("hide");
        $("#loading").css("display", "block");
        
        $.ajax({
            url: url,
            type: "GET",
            processData: false,
            contentType: false,
            success: function (data) {
                alert("All The DB has been deleted")
                $("#loading").css("display", "none");
            },

        });
    }
</script>