<div class="card" id="cashcall-{{cashcall.pk}}" style="width: 18rem;">
    <div class="card-header">
        <div class="row">
            <div class="col-8">

                Cash Call
            </div>
            <div class="col-4
            ">

                {% if cashcall.invoice_status == "validated" %}
                <button class="btn btn-sm btn-primary" id="{{cashcall.pk}}" onclick="sendCashCall(this.id)">
                    Send
                </button>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="card-body">
        <table class="table table-responsive">
            <tbody>
                <tr>
                    <th>Investor</th>
                    <td>{{cashcall.investor}}</td>
                </tr>
                <tr>
                    <th>Invoice Status</th>
                    <td>{{cashcall.invoice_status}}</td>
                </tr>
                <tr>
                    <th>Year</th>
                    <td>{{cashcall.year}}</td>
                </tr>
                <tr>
                    <th>Amount</th>
                    <td>{{cashcall.total_amount}}</td>
                </tr>
            </tbody>


        </table>
        <hr>
        <div id="accordion">

            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapse-{{cashcall.id}}" aria-expanded="true"
                    aria-controls="collapse-{{cashcall.id}}">
                    DETAILS BILLS
                </button>
            </h5>
            <div id="collapse-{{cashcall.id}}" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
    
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>Fees Type</th>
                            <th>Date Added</th>
                            <th>Investment</th>
                            <th>Fees amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for bill in cashcall.bills.all %}
                        <tr>
                            <td>{{bill.fees_type}}</td>
                            <td>{{bill.date_added}}</td>
                            <td>{{bill.investment_id.startup_name}}</td>
                            <td>{{bill.fees_amount}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    function sendCashCall(bill_id) {
        let url = "{% url 'cashcalls:send' '0000' %}".replace("0000", bill_id)
        console.log(bill_id)
        $.ajax({
            url: url,
            type: "GET",
            processData: false,
            contentType: false,
            success: function (data) {
                console.log(data.cashcall_id)
                $(data.cashcall_id).html(data.cashcall_html);
            },

        });
    }
</script>