{% extends "base.html" %}
{% load static %}

{% block title %}List Cashcalls{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-10">
            <h1>List Cashcalls</h1>
        </div>
        <!-- <div class="col-2">
            <button id="generate-bills" class="btn btn-sm btn-success"> Generate bills</button>
        </div> -->
    </div>
    <hr>
    <div class="row">
        {% for cashcall in cashcalls%}
        <div class="col-md-4 col-12 mb-3">
            {% include "cashcalls/cashcall_card.html"%}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}


{% block css %}
{{ block.super }}
{% endblock %}

{% block inline_javascript %}
{{ block.super }}
{% endblock inline_javascript %}